-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."accounts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "account_type" TEXT NOT NULL DEFAULT 'seller',
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "dealer" UUID NOT NULL DEFAULT gen_random_uuid(),
    "dealerships" TEXT[],

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."dealerships" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dealer" UUID NOT NULL,
    "province" TEXT,
    "name" TEXT NOT NULL,

    CONSTRAINT "dealership_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."policies" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dealer" UUID NOT NULL,
    "seller" UUID NOT NULL,
    "dealership" UUID NOT NULL,
    "product_type" TEXT NOT NULL,
    "policy_price" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "term" SMALLINT NOT NULL,
    "status" SMALLINT NOT NULL DEFAULT 0,
    "payment_term" TEXT DEFAULT 'monthly',
    "VIN" TEXT NOT NULL,
    "email" TEXT,
    "policy_url" TEXT,

    CONSTRAINT "policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."quick_quotes" (
    "id" BIGSERIAL NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sellerID" UUID NOT NULL,
    "vin" TEXT NOT NULL,
    "applicant" JSONB,
    "contactInfo" JSONB,
    "vehicle" JSONB,
    "debtInfo" JSONB,
    "productInfo" JSONB,
    "paymentInfo" JSONB,
    "name" TEXT,
    "currentStep" SMALLINT NOT NULL,
    "completed" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "quick_quotes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."dealers" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT NOT NULL,
    "admin_username" TEXT NOT NULL,
    "admin_pass" TEXT NOT NULL,

    CONSTRAINT "dealer_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "accounts_email_key" ON "public"."accounts"("email");

-- CreateIndex
CREATE INDEX "accounts_id_idx" ON "public"."accounts"("id");

-- CreateIndex
CREATE UNIQUE INDEX "dealer_name_key" ON "public"."dealers"("name");

-- AddForeignKey
ALTER TABLE "public"."accounts" ADD CONSTRAINT "accounts_dealer_fkey" FOREIGN KEY ("dealer") REFERENCES "public"."dealers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."dealerships" ADD CONSTRAINT "dealership_dealer_fkey" FOREIGN KEY ("dealer") REFERENCES "public"."dealers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."policies" ADD CONSTRAINT "policies_dealer_fkey" FOREIGN KEY ("dealer") REFERENCES "public"."dealers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."policies" ADD CONSTRAINT "policies_dealership_fkey" FOREIGN KEY ("dealership") REFERENCES "public"."dealerships"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."policies" ADD CONSTRAINT "policies_seller_fkey" FOREIGN KEY ("seller") REFERENCES "public"."accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."quick_quotes" ADD CONSTRAINT "quick_quotes_sellerID_fkey" FOREIGN KEY ("sellerID") REFERENCES "public"."accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

